@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up basic styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  } 
/* НАВІГАЦІЙНЕ МЕНЮ */
/* НАВІГАЦІЙНЕ МЕНЮ */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* лого */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.logo li {
  list-style: none;
}

/* навігація */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 1300px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.pages {
  display: flex;
  gap: 20px;
  margin-left: 15%;
}

.pages a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.pages a:hover {
  color: #2196F3;
}

.email_phone {
  margin-left: 35%;
}

.email_phone a {
  text-decoration: none;
  padding: 10px;
}

.email {
  color: #2196F3;
}

.phone {
  color: #333;
}

.phone:hover {
  border-bottom: 1.5px solid #2196F3;
}

.email:hover {
  border-bottom: 1.5px solid #2196F3;
}
/* Portfolio section */
  #portfolio {
    padding: 50px;
  }
  
  #portfolio h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* .product-filter {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-filter label {
    font-size: 18px;
  }
  
  .product-filter select {
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
  } */

  .product-filter {
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    justify-content: center;
}

.product-filter button {
    font-size: 18px;
    margin-left: 10px;
    padding: 10px; 
    border-radius: 5px;
    border: none;
    background-color: #eae9e9; 
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 2%;
}

.product-filter button:hover {
    background-color:#2196F3; 
    color: #fff; 
}
  
  #catalog {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    }
    .catalog{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  
  .product {  
    width: calc(33.3333% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(86, 49, 49, 0.1);
    margin-bottom: 40px;
    padding: 20px;
    padding: 0;
    position: relative;
  }
  
  .product img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5%;
  }
  
  .product p {
    font-size: 16px;
    padding-left: 5%;
    padding-bottom: 5%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color:dodgerblue; 
    opacity: 0.9;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    pointer-events: none; 
    font-size: 120%;
}

.product:hover .overlay {
    display: flex; 
}
  /* Підвал */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: left;
}
.container-footer {
  display: flex;
  justify-content: left;
  padding-left: 5rem;
}
footer h1 {
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
  color:#FFFFFF;
  font-size: 1.2rem;
} 
.logo-footer {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none   ;
  color: #fff;
}
.adress ul {
  list-style: none;
}
.adress li {
  padding-top: 0.5rem;
}

.link {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
.link-email {
  list-style-type: none;
  text-decoration: none;
  color: #a7a7a7;
}

.link-phone {
  list-style-type: none;
  text-decoration: none;
  color: #a7a7a7;
}

.svg-links {
  padding-left: 7rem;
  stroke-width: 0.15rem;
  stroke: none;
}
.svg-links h1{
  margin-bottom: 10%;
}

.svg-links svg:hover {
  stroke: #2196F3;
}

footer h2 {
  position: relative;
  font-family: 'Raleway';
  font-size: 1.2rem;
  padding-right: 1.5rem;
  font-weight: 700;
  color: #2196F3;
  letter-spacing: 0.03em;
}
address {
  padding-top: 2rem;
  position: relative;
  left:-20%;
}



.subscribe {
  position: absolute;
 margin-top: -7%;
 margin-left: 50%;

}

.subscribe_field {
  display: flex;

}

.subscribe_input {
  margin-top: 7%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  margin-right: 10px;
  width: 20rem;
  background-color: transparent;
}

.btn_subscribe_btn {
  position: absolute;
  margin-top: -12%;
  margin-left: 100%;
  padding: 4% 5% 4% 5%;
  width: 10rem;
  border-radius: 4%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_subscribe_btn span {
  font-weight: bolder;
}

.networks_title{
  font-weight: bolder;
}
