@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  /* box-shadow: 10px 20px 10px 10px rgba(0, 0, 0, 0.1); */
  border-bottom: 0.5px solid #d8d8d8;
  width: auto;
}

/* Set up basic styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  } 

/* Portfolio section */
  #portfolio {
    padding: 50px;
  }
  
  #portfolio h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .product-filter {
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    justify-content: center;
}

.product-filter button {
    font-size: 18px;
    margin-left: 10px;
    padding: 10px; 
    border-radius: 5px;
    border: none;
    background-color: #eae9e9; 
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 2%;
}

.product-filter button:hover {
    background-color:#2196F3; 
    color: #fff; 
}
  
  #catalog {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* width: 100%; */
    }
    .container-catalog {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      /* align-content: center; */
      justify-content: center;
    }

    .catalog{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px; 
      width: 100%;
      /* align-items: center; */
    }
  
  .product {  
    width: 100% ;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(86, 49, 49, 0.1);
    margin-bottom: 40px;
    padding: 20px;
    padding: 0;
    position: relative;
  }
  
  .product img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5%;
  }
  
  .product p {
    font-size: 16px;
    padding-left: 5%;
    padding-bottom: 5%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color:dodgerblue; 
    opacity: 0.9;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    pointer-events: none; 
    font-size: 120%;
}

.product:hover .overlay {
    display: flex; 
}

/* Table media */
@media (max-width: 900px) and (min-width: 450px) {
  .catalog{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
  }
  .product{
    width: 100%;
  }

.networks_title{
    margin-left: 15%;
}
.subscribe {
    margin-top: 10%;
    margin-left: 15%;
}
.btn_subscribe_btn{
    margin-top: 5%;
    margin-left: 25%;
}

}


/* Mobile media */

/* НАВІГАЦІЙНЕ МЕНЮ  */
@media (max-width: 700px) {

}

@media (max-width: 450px) {
  .product-filter {
    flex-wrap: wrap;
  }
  .catalog{
    width: 100% ;
    display: flex;
    flex-direction: column;
  }
  .product{
    width: 100%;
  }
}

